@model friendly.ViewModels.PostsViewModel

<h1>Posts (@Model.CurrentViewName View)</h1>
<a href="/Post/Table" class="btn btn-primary">Table View</a>

<div class="row">
    @foreach (var post in Model.Posts)
    {
        <partial name="_PostCard" model="post" />
    }
</div>
