@model friendly.ViewModels.PostsViewModel // Ensure this is correct for both Table and Grid views
@{
    ViewData["Title"] = "Posts";
}

<h1>@ViewData["Title"] (@Model.CurrentViewName View)</h1>
<a href="/Post/Grid" class="btn btn-primary me-2">Grid View</a>
<p>
    <a class="btn btn-secondary" asp-controller="Post" asp-action="Create">Create New Post</a>
</p>

<partial name="_PostTable" model="Model.Posts" />